@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle siempre viva inacap 2416<br />
    <br />
    <abbr title="Telefono">Telefono:</abbr>
    256 464 646 64664
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Malditomadafaka@example.com</a><br />
    <strong>Equipo:</strong> <a href="mailto:Marketing@example.com">Huevito.Rey@example.com</a>
</address>